astroid==2.3.3
click==7.1.1
colorama==0.4.3
entrypoints==0.3
flake8==3.7.9
Flask==1.1.2
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.14.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.2
pandas==1.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scikit-surprise==1.1.0
scipy==1.4.1
six==1.14.0
sklearn==0.0
Werkzeug==1.0.1
wrapt==1.11.2
