<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Book Recommender System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="https://www.favicon.by/ico/5ea5e0e55dccc.ico" type="image/x-icon">
    <base target="_self">
</head>
<body>
<header class="menu">
    <a href="/" class="home">BOOK <span class="homeRed">ASSISTANT</span></a>
    <ul class="menuList">
        <li class="menuItem"><a href="/about" class="menuLink">About</a></li>
        <li class="menuItem"><a href="/contact" class="menuLink">Contact</a></li>
    </ul>
</header>
<h1 align="center" class="contactTitle">about</h1>
<h2 class="aboutTitle">Description</h2>
<div class="aboutInfo">
    <p><span class="aboutRed">BookAssistant</span> is a web application providing book recommendations. It uses a hybrid
        recommender system which combines content based and collaborative filtering approaches to achieve the given aim.
    </p></div>
<h2 class="aboutTitle">A short guide to using BookAssistant</h2>
<div class="aboutInfo">
    <p>Section <span class="aboutYellow">"recommendation based on my preferences"</span> requires your Goodreads ID to
        provide recommendations (based on collaborative filtering approach). <span class="aboutRed">Don't worry, if you
            don't have a Goodreads account</span>: just leave a blank line and enter the button to continue.
        <span class="aboutRed">If you have Goodreads account but BookAssistant doesn't recognize your ID</span>,
        it means that your ID is not in the dataset or there's not enough information about you to create recommendations,
        but you still can get recommendations based on another approach. You'll have to choose what kind of
        recommendation (rested on content based approach) you'd like to get: if you what to read some books of  a
        specific author, choose <span class="aboutYellow">"recommendation based on my favourite book
            (by author)"</span>; if you just want to read books on a certain themes, choose <span class="aboutYellow">
            "recommendation based on my favourite book (by tag)"</span>. After that you'll just have to enter the title
        of you favourite book and revel in your recommendations :)</p>
    <p>If you want to read some well-known books, visit <span class="aboutYellow">"the most popular books list" section.
    </span></p></div>
<h2 class="aboutTitle">Resources</h2>
<div class="aboutInfo">
<p>The <a href="https://www.kaggle.com/zygmunt/goodbooks-10k" target="_blank" class="aboutLink">dataset</a> contains 10000 books from <a href="https://www.goodreads.com/" target="_blank" class="aboutLink">Goodreads</a>.</p>
<p>The repository of this project is <a href="https://github.com/wrackspurt/BookAssistant" target="_blank" class="aboutLink">here</a>.</p>
</div>
<footer>
    <div class="footerElements"></div>
    <p class="bottomTitle">designed & developed by Elizaveta Kiseleva © 2020.
        <a href="https://github.com/wrackspurt" target="_blank" class="footerLink">@wrackspurt</a></p>
</footer>
</body>
</html>