<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations - Book Recommender System</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="https://www.favicon.by/download.php?favicon=5e99d71abc09d.ico" type="image/x-icon">
    <base target="_self">
</head>
<body>
<header class="menu">
    <a href="/" class="home">BOOK <span class="homeRed">ASSISTANT</span></a>
    <ul class="menuList">
        <li class="menuItem"><a href="/about" class="menuLink">About</a></li>
        <li class="menuItem"><a href="/contact" class="menuLink">Contact</a></li>
    </ul>
</header>
<h1 align="center" class="pagesTitle">choose a book that you like to continue.</h1>
<form method="post" action="/content_based_tag">
<div class="booksDropdown">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <select data-live-search="true" name="bookChoice" class="form-control selectpicker">
                    <option selected disabled>please, enter a few letters...</option>
                    {% for b in bookList %}
                    <option value="{{ b }}">{{ b }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
{% if book_error %}
    <p class="bookError">{{ book_error }}</p>
{% endif %}
<button type="submit" class="goBtn">let's go</button>
</form>
{% if results %}
<h2 align="center" class="resultsTitle">here is the list of recommendations based on the book:
    <span class="bookName">{{ book }}</span></h2>
{% for r in results %}
<div class="bookList">
    <p class="bookListElem"><a href="{{ results[r] }}" target="_blank" class="bookListUrl">{{ r }}</a></p>
</div>
{% endfor %}
{% endif %}
<footer>
    <div class="footerElements"></div>
    <p class="bottomTitle">designed & developed by Elizaveta Kiseleva © 2020.
        <a href="https://github.com/wrackspurt" target="_blank" class="footerLink">@wrackspurt</a></p>
</footer>
</body>
</html>