<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Book Recommender System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="https://www.favicon.by/ico/5ea5e0e55dccc.ico" type="image/x-icon">
    <base target="_self">
</head>
<body>
<header class="menu">
    <a href="/" class="home">BOOK <span class="homeRed">ASSISTANT</span></a>
    <ul class="menuList">
        <li class="menuItem"><a href="/about" class="menuLink">About</a></li>
        <li class="menuItem"><a href="/contact" class="menuLink">Contact</a></li>
    </ul>
</header>
<h1 align="center" class="cbTitle">sorry, your id doesn't exist :(<br>by the way, you still can get recommendations!</h1>
<h2 align="center"> choose the type of recommendation and press the button to start :)</h2>
<form method="post" action="/content_based/">
<div class="chooseRecType">
<label class="container">recommendation based on my favourite book (by author)
<input type="radio" name="recType" value="content-based-author" checked="checked">
<span class="checkmark"></span>
</label>
<label class="container">recommendation based on my favourite book (by tag)
<input type="radio" name="recType" value="content-based-author-tag">
<span class="checkmark"></span>
</label>
</div>
<button type="submit" class="goBtn">let's go</button>
</form>
<footer>
    <div class="footerElements"></div>
    <p class="bottomTitle">designed & developed by Elizaveta Kiseleva © 2020.
        <a href="https://github.com/wrackspurt" target="_blank" class="footerLink">@wrackspurt</a></p>
</footer>
</body>
</html>