<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Recommendations - Book Recommender System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="https://www.favicon.by/ico/5ea5e0e55dccc.ico" type="image/x-icon">
    <base target="_self">
</head>
<body>
<header class="menu">
    <a href="/" class="home">BOOK <span class="homeRed">ASSISTANT</span></a>
    <ul class="menuList">
        <li class="menuItem"><a href="/about" class="menuLink">About</a></li>
        <li class="menuItem"><a href="/contact" class="menuLink">Contact</a></li>
    </ul>
</header>
<h1 align="center" class="pagesTitle">here's the list of <span class="bookName">the most popular books</span> for you.</h1>
{% for p in popular_books %}
<div class="bookList">
    <p class="bookListElem"><a href="{{ popular_books[p] }}" target="_blank" class="bookListUrl">{{ p }}</a></p>
</div>
{% endfor %}
<footer>
    <div class="footerElements"></div>
    <p class="bottomTitle">designed & developed by Elizaveta Kiseleva © 2020.
        <a href="https://github.com/wrackspurt" target="_blank" class="footerLink">@wrackspurt</a></p>
</footer>
</body>
</html>